@font-face {
  font-family: "Contact_icons";
  src: url("./fontsProjectFB/Contact_icons.eot?a70o4q");
  src: url("./fontsProjectFB/Contact_icons.eot?a70o4q#iefix")
      format("embedded-opentype"),
    url("./fontsProjectFB/Contact_icons.ttf?a70o4q") format("truetype"),
    url("./fontsProjectFB/Contact_icons.woff?a70o4q") format("woff"),
    url("./fontsProjectFB/Contact_icons.svg?a70o4q#Contact_icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Contact_icons" !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sms:before {
  content: "\e909";
}
.icon-location-map:before {
  content: "\e90e";
}
.icon-twitter-sm:before {
  content: "\e90d";
}
.icon-place:before {
  content: "\e90f";
}
.icon-telegram:before {
  content: "\e910";
}
.icon-operator:before {
  content: "\e912";
}
.icon-viber-color:before {
  content: "\e913";
}
.icon-viber-outline:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e915";
}
.icon-Arrow-Right:before {
  content: "\e900";
}
.icon-Arrow-Left:before {
  content: "\e901";
}
.icon-WaterNo:before {
  content: "\e90a";
}
.icon-PictureDis:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-HandleBg:before {
  content: "\e906";
}
.icon-FightBag:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-Bottlewater:before {
  content: "\e903";
}
.icon-Backside:before {
  content: "\e902";
}
.icon-Backpackfront:before {
  content: "\e90b";
}
.icon-Airblow:before {
  content: "\e90c";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail4:before {
  content: "\ea86";
}
